h1{
    color: white;
    font-size: xx-large;
}

section{
    background-color: #808080;
    height: 800px;
    width: 300px;
    }
 div{
     margin-left: 1cm;
        background-color: #fea500;
        height: 150px;
        width: 150px;
    }
  